* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

div {
    margin: 10px;
}


.container {
    display: flex;
    /* main axis */
    flex-direction: column;
    /* align the items on the main axis */
    justify-content: center;
    /* align the items on the cross axis. */
    align-items: center;
    height: 40%;
}

.header h1 {
    border-bottom: 2px solid;
    margin: 20px;
}

.main {
    width: 40%;
    text-align: center;
}


.progress-score {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.progressbar {
    text-align: center;
    margin: 0;
}

.score {
    text-align: center;
    margin: 10px 20px;
}

.progressbar {
    width: 10rem;
    height: 1.9rem;
    /* border: 1px solid goldenrod; */
    border-radius: 10px;
    position: relative;
    
}

.progressbar .currentprogressbar {
    position: absolute;
    height: 100%;
    background-color: goldenrod;
    border-radius: 9px;
    margin: 0;
    text-align: center;
}

#play-animation {
    animation: progress-animation 5s forwards;
}

@keyframes progress-animation {
    0% {width: 0%;}
    100% {width: 100%;}
}

.question {
    margin: 20px;
    padding: 20px;
    font-size: large;
    font-weight: bold;
}

.option {
    border: 1px solid cornflowerblue;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.alloptions div:last-child {
    margin-bottom: 30px;
}

.option:hover {
    background-color: cornsilk;
}

.disableddivs {
    pointer-events: none;
    opacity: 0.4;
}

.buttons a {
    color: #000000;
    text-decoration: none;
}

.btn {
    background: #0275d8;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 5px;
}

/* hide next button */
.btn {
    display: none;
}

/* .show-btn .btn {
    display: block;
} */

.finalscore {
    font-size: 1.8rem;
    margin: 20px;
}

#replay {
    background: #0275d8;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
}


